
$blue: #577AB6;
$primary:$blue;
$red: #f45e30;
$secondary:$red;
$green: #b8a93b;
$success:$green;
$yellow: #ddf46f;
$info:$yellow;
$purple: #d2bbd2;
$warning:$purple;
$white:#f2e9df;
$danger:$white;
$card-border-color: rgba(0, 0, 255, 0);
$input-border-color: #e3d0bb;
$input-placeholder-color:#c59e73 ;
h1{
    font-family: "orelega one";
}
h2{
    font-family: "orelega one";
}
h6{
    font-family: "orelega one";
}
@import "node_modules/bootstrap/scss/bootstrap";

