
$blue: #4c70ae;
$primary:$blue;
$red: #f45e30;
$secondary:$red;
$green: #a99c37;
$success:$green;
$yellow: #e2f681;
$info:$yellow;
$purple: #d2bbd2;
$warning:$purple;
$white:#f2e9df;
$danger:$white;
$card-border-color: rgba(0, 0, 255, 0);
$input-border-color: $red;
$input-placeholder-color: $red ;
h1{
    font-family: "orelega one";
}
h2{
    font-family: "orelega one";
}
h6{
    font-family: "orelega one";
}
$list-group-color: $blue;
@import "node_modules/bootstrap/scss/bootstrap";

